.App {
  text-align: center;
}

h1 {
  letter-spacing: 5px;
  font-size: 3em;
}

.color-container {
  display: flex;
  justify-content: center;
}

.guess-container {
  display: grid;
  margin: 15px auto;
}

.character {
  height: 50px;
  width: 50px;
  background-color: gray;
  margin: 10px 2.5px;
}

.character div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
  color: white;
  font-size: 2em;
}

.keyboard-char {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 1.5em;
  background-color: black;
  color: white;
}

.lines button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 1.5em;
  background-color: black;
  color: white;
}

.lines {
  display: flex;
  justify-content: center;
}

.keyboard-char.enter {
  width: 3.5em;
}

.guess {
  display: flex;
  justify-content: center;
}

.keyboard-char:active {
  background-color: white;
  color: black;
}

.correct {
  background-color: green;
}

.misplaced {
  background-color: yellow;
}

.incorrect {
  background-color: gray;
}

@media (prefers-reduced-motion: no-preference) {}