.App {
  text-align: center;
}

.color-container {
  display: flex;
  justify-content: center;
}

.guess-container {
  display: grid;
  margin: 15px auto;
}

.character {
  height: 50px;
  width: 50px;
  background-color: #939598;
  margin: 10px 2.5px;
  border-radius: 5px;
}

.character div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
  color: whitesmoke;
  font-size: 2em;
  border-radius: 5px;
}

.keyboard-char {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 1.5em !important;
  background-color: #939598;
  color: whitesmoke;
  border-radius: 5px;
}

.lines button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 1.5em;
  background-color: black;
  color: white;
}

.lines {
  display: flex;
  justify-content: center;
}

.keyboard-char.enter {
  width: 3.5em;
}

.keyboard-char.delete {
  width: 2.5em;
}

.guess {
  display: flex;
  justify-content: center;
}

.keyboard-char:active {
  background-color: whitesmoke;
  color: #939598;
}

.correct {
  background-color: #538d4e;
}

.misplaced {
  background-color: #b59f3b;
}

.incorrect {
  background-color: #86888a;
}

.invalid {
  background-color: #3a3a3c;
}