.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.color-container {
  display: flex;
  justify-content: center;
}

.guess-container {
  display: flex;
  justify-content: center;
  margin: 15px auto;
}

.character {
  height: 50px;
  width: 50px;
  background-color: gray;
  margin: 10px 2.5px;
}

.character div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
  color: white;
  font-size: 2em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}